.git
.DS_Store
.classpath
.project
.pydevproject
.settings
*.pyc
*.swo
log
lsync.*
cbls
temp-*.rdb
debug.py
*.csv
.rc2parameters
.cb_history
certificates
credentials/klab_id_rsa
credentials/klab_id_rsa.pub
cloudbench*.txt
data/data.txt
docs/*disclosure*
docs/*.graffle
docs/*FTVM*
docs/*STG*
docs/*_metrics.ppt
util/experimental
util/graveyard
util/pydevm/*
util/*omapi
util/cloud_definitions_autoconf.sh
util/get_qemu*
util/rc2.pl
util/rc3.pl
util/simple.pm
debug.remote_host
configs/dilma_amazon_credentials.txt
configs/cloud_ports.sh
hard_reset.sh
jar/cpc.jar
jar/file.jar
jar/http.jar
jar/database.jar
jar/supporting
scripts/hadoop/HiBench
hadoop-1.0.4-bin.tar.gz
bin
.externalToolBuilders/
3rd_party
gmetad-hosts.conf
*hosts.conf
configs/definitions.txt
data
pydevd
libpeerconnection.log
