[global]
ioengine=FIO_ENGINE
direct=FIO_DIRECT
size=FIO_FILE_SIZE
filename=FIO_FILENAME
runtime=FIO_RUNTIME
create_on_open=1
time_based

[JOB]
name=fiofile
iodepth=FIO_IODEPTH
bs=FIO_BS
rw=FIO_IOKIND
sync=FIO_SYNC
