[global]
ioengine=FIO_ENGINE
#pool=FIO_RBD_POOL
#rbdname=FIO_RBD_NAME
direct=FIO_DIRECT
size=FIO_FILE_SIZE
filename=FIO_FILENAME
runtime=LOAD_DURATION
create_on_open=FIO_CREATE_ON_OPEN
#rwmixread=FIO_RWMIXREAD
#rwmixwrite=FIO_RWMIXWRITE
#ramp_time=FIO_RAMP_TIME
invalidate=FIO_INVALIDATE
time_based

[JOB]
name=fiofile
iodepth=FIO_IODEPTH
bs=FIO_BS
rw=LOAD_PROFILE
sync=FIO_SYNC
numjobs=LOAD_LEVEL
group_reporting
#verify=FIO_VERIFY
#verify_fatal=FIO_VERIFY_FATAL