proto udp 
dev tun
client
remote DESTINATION VPN_PORT

log /var/log/openvpn/USERNAME_openvpn-cb.log


ca       [inline]
cert     [inline]
key      [inline]
tls-auth [inline] 1

nobind
verb 3
keepalive 10 60
script-security 2